.hero-unit
  %h1 Welcome, 5Thanks
  %p 
    5Thanksは、毎日５つの感謝できることをメモして、ポジティブに生きたい人のためのツールです。
.row
  .span10
    
    %h2 5Thanksについて
    %p
      書籍「ハーバードの人生を変える授業」の中にある
    %blockquote
      ちょっとした事でもいいので、毎日感謝できることを５つ書く
    %p
      を実践するためのツールです。本によれば、これを続けた人は人生を肯定的に評価できるようになり、幸福感が高くなり、ポジティブな気分を味わうようになったそうです。
    
    %h3 サービスの特徴
    %ol
      %li
        %b 感謝の気持ちが見れるのは自分だけ
        %p 
          感謝の気持ちをストックしても、それが他の人から見られることはありません。
      %li
        %b 感謝の気持ちが見れるのは自分だけ
        %p 
          感謝の気持ちをストックしても、それが他の人から見られることはありません。
    
    %h3 感謝の気持ちをみんなに共有したい人は
    %p
      <a href='http://www.kayac.com/'>面白法人KAYAC</a>さんの<a href='http://thanks.kayac.com/ja/top'>THANKS</a>という素晴らしいサービスがあります。5ThanksはTHANKSが無ければ生まれることはなかったでしょう。
      %br
      共有するのに抵抗がある人は是非5Thanksをご利用ください。
        
  .span6
    %p これまで#{Thank.count}つの感謝がストックされました
    %p #{User.count}人が5Thanksを利用しています。
    %p
      %a.btn.primary.xlarge ユーザー登録して感謝の気持ちをストックし始める
