.thanks-index-page {
  p.empty-message {
    padding: 60px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
  }
}

dl {
  dt.date {
    position: relative;
    padding-left: 60px;
    min-height: 50px;
    time {
      display: block;
      font-size: 30px;
      line-height: 30px;
      padding: 4px;      
    }
    .count {
      position: absolute;
      display: block;
      left: 0px;
      width: 50px;
      height: 40px;
      background: #ff115c;
      color: #FFF;
      .num { 
        display: block;
        font-size: 18px;
        padding: 5px 10px 0;
        text-align: center;
      }
      .label { 
        display: block;
        margin-top: -2px;
        text-align: center;
        font-size: 11px; 
        font-weight: normal; 
      }
    }
  }
  dd.thanks {
    border-bottom: 1px dashed #CCC;
    margin-bottom: 10px;
    ol {
      li {
        margin-bottom: 10px;
        &:hover { background: #EEE; }
        b { font-size: 15px;}
        p.message { font-size: 13px; }
      }
    }
  }
}